<div class="summoner-mastery">
    <header>
        <h3>Player history</h3>
    </header>
    <div id="hystory-content">
        <ul>
            <li *ngFor="let match of matchlist">
                <div class="game-info">
                    <h5>{{match.info.gameMode}}</h5>
                    <p>{{match.info.gameDuration}}</p>
                    <h3>result</h3>
                </div>
                <div class="played-camp">
fsdfs
                </div>
                <div class="kda">
sdfdsf
                </div> 
                <div class="player-info">
dsfds
                </div>
                <div class="items">
fsdf
                </div>
                <div class="players">
sdfsdsssssssssssssssssssssssssssss
                </div>
            </li>
        </ul>
    </div>
</div>