<div id="container">
    <div id="summoner-profile">
        <div id="icon">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.5.1/img/profileicon/{{summoner.profileIconId}}.png" alt="">
        </div>
        <div id="summoner-info">
            <h2>{{summonername}}</h2>
            <h3>Level {{summoner.summonerLevel}}</h3> 
        </div>
        <div id="summoner-league">
            <div id="solo" class="league" *ngIf="summonerleagues[0]">
                <div id="league-logo">
                    <h3>Ranked Solo</h3>
                    <img  src="../../../assets/img/ranked-emblems/Emblem_{{sololeague}}.png" alt="">
                </div>
                <div id="league-info">
                    <h4>{{summonerleagues[0].tier}} {{summonerleagues[0].rank}}</h4>
                    <p>PL {{summonerleagues[0].leaguePoints}} /  V{{summonerleagues[0].wins}} D{{summonerleagues[0].losses}}</p>
                    <p>WinRate {{winrate | number:'1.2-2'}}%</p>
                </div>
            </div>
            <div id="flex" class="league" *ngIf="summonerleagues[1]">
                <div id="league-logo">
                    <h3>Ranked Flex</h3>
                    <img  src="../../../assets/img/ranked-emblems/Emblem_{{flexleague}}.png" alt="">
                </div>
                <div id="league-info">
                    <h4>{{summonerleagues[1].tier}} {{summonerleagues[1].rank}}</h4>
                    <p>PL {{summonerleagues[1].leaguePoints}} /  V{{summonerleagues[1].wins}} D{{summonerleagues[1].losses}}</p>
                    <p>WinRate {{winrate2 | number:'1.2-2'}}%</p>
                </div>
            </div>
        </div>
    </div>
</div>