<div id="container">
    <div id="summoner-profile">
        <div id="icon">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.5.1/img/profileicon/{{summoner.profileIconId}}.png" alt="">
        </div>
        <div id="summoner-info">
            <h2>{{summonername}}</h2>
            <h3>Level {{summoner.summonerLevel}}</h3> 
        </div>
        <div id="summoner-league">
            <div class="league" *ngFor="let league of summonerleagues">
                <div id="league-logo" >
                    <h3 *ngIf="league.queueType=='RANKED_SOLO_5x5'">Ranked Solo</h3>
                    <h3 *ngIf="league.queueType=='RANKED_FLEX_SR'">Ranked Flex</h3>
                    <img  src="../../../assets/img/ranked-emblems/Emblem_{{league.tier}}.png" alt="">
                </div>
                <div id="league-info">
                    <h4>{{league.tier}} {{league.rank}}</h4>
                    <p>PL {{league.leaguePoints}} /  <span id="wins">V{{league.wins}}</span> <span id="losses"> D{{league.losses}}</span></p>
                    <p>WinRate {{(league.wins*100)/(league.wins+league.losses) | number:'1.2-2'}}%</p>
                </div>
            </div>
        </div>
        <div id="summoner-mastery">
            <header>
                <h3>Mastery points {{summonermastery}}</h3>
            </header>
            <div id="mains">
                <ul>
                    <li *ngFor="let champion of championmastery">
                        <img class="mastery" *ngIf="champion.championLevel>5" src="../../../assets/img/mastery/m{{champion.championLevel}}.png" alt="">
                        <h3 class="masteryinf" *ngIf="champion.championLevel<=5">{{champion.championLevel}}</h3>
                        <img class="chest" *ngIf="champion.chestGranted == true" src="../../../assets/img/mastery/chest.png" alt="">
                        <img class="champ" src="http://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{getChampinfo(champion.championId)}}.png" alt="">
                        <h4>{{getChampinfo(champion.championId)}}</h4>
                        <p>{{champion.championPoints}} points</p>                        


                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>