<div id="container">
    <div id="summoner-profile">
        <div id="icon">
            <img src="http://ddragon.leagueoflegends.com/cdn/12.5.1/img/profileicon/{{summoner.profileIconId}}.png" alt="">
        </div>
        <div id="summoner-info">
            <h2>{{summonername}}</h2>
            <h3>Level {{summoner.summonerLevel}}</h3> 
        </div>
        <div id="summoner-league">
            <div class="league" *ngFor="let league of summonerleagues">
                <div id="league-logo" >
                    <h3 *ngIf="league.queueType=='RANKED_SOLO_5x5'">Ranked Solo</h3>
                    <h3 *ngIf="league.queueType=='RANKED_FLEX_SR'">Ranked Flex</h3>
                    <img  src="../../../assets/img/ranked-emblems/Emblem_{{league.tier}}.png" alt="">
                </div>
                <div id="league-info">
                    <h4>{{league.tier}} {{league.rank}}</h4>
                    <p>PL {{league.leaguePoints}} /  <span id="wins">V{{league.wins}}</span> <span id="losses"> D{{league.losses}}</span></p>
                    <p>WinRate {{(league.wins*100)/(league.wins+league.losses) | number:'1.2-2'}}%</p>
                </div>
            </div>
        </div>

        <div class="details-card">
            <div id="details-nav">
                <ul>
                    <li><button  [ngClass]="{'active' : infowindow==1}" (click)="pagechange1()">Player History</button></li>
                    <li><button  [ngClass]="{'active' : infowindow==2}" (click)="pagechange2()">Mastery</button></li>
                    <li><button  [ngClass]="{'active' : infowindow==3}" (click)="pagechange3()">Chest</button></li>
                </ul>
            </div>

            <app-hystory class="dont-show-info" [ngClass]="{'show-info' : infowindow==1}" [summonerpuuid]="summoner.puuid" ></app-hystory>
            <app-mastery class="dont-show-info" [ngClass]="{'show-info' : infowindow==2}" [summonermastery]="summonermastery" [championmastery]="championmastery" [championsarray]="championsarray"></app-mastery>
            <app-chest class="dont-show-info" [ngClass]="{'show-info' : infowindow==3}" [summonermastery]="summonermastery" [encryptedsummonerid]="encryptedsummonerid" [championsarray]="championsarray"></app-chest>

        </div>

        

    </div>
</div>