/* General */
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ccc;
    height:100%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    text-decoration: none;
    height: 60px;
    background-color: rgb(110, 0, 0);
    color: #ccc;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 40%;
    
}

nav #logo img{
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

#logo a{
    line-height: 60px;
    color: #ccc;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    width: 60%;
}

nav  ul li {
    padding-right: 20px;
}

nav  ul li a{
    font-size: 10px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


/* start component */

#container{
    padding-top: 20px;
    min-height: 88vh;
}

#form-summoner{
    padding-top: 50px;
    text-align: center;
    margin: 0px auto;

}

#start-logo img{
    height: 200px;
}

#form-summoner #form{
    display: flex;
    flex-direction: row;

    background-color: rgb(110, 0, 0);;
    height: 30px;
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px  5px gray;
}

#form-summoner #form input[type="text"]{
    width: 70%;
    padding-left: 5px;
}

#form-summoner #form select{
    width: 15%;
}

#form-summoner #form input[type="submit"]{
    width: 15%;
    background-color: transparent;
    color: #ccc;
    border: none;
}

/* Summoner profile styles */

#summoner-profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 90%;
    margin: 0px auto;
    
}

#summoner-profile #icon{
    width: 100px;
    
}

#summoner-profile #icon img{
    height: 100px;
    border: 1px solid rgb(110, 0, 0);
    box-shadow: 1px 1px  5px gray;
}

#summoner-info{
    height: 100px;
    width: 65%;
    padding-left: 20px;
}

#summoner-league{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 220px;
    width: 100%;
    margin-top: 20px;
}

#summoner-league .league{
    width: 40%;
    height: 200px;
    text-align: center;
    margin: 0px auto;
    padding-top: 5px;
    border: 1px solid rgb(110, 0, 0);
    box-shadow: 1px 1px  5px gray;

}

#summoner-league .league img{
    height: 100px;
}

#summoner-league .league h3{
    font-size: 15px;
    text-transform: uppercase;
}

#wins{
    color: green;
}

#losses{
    color: red;
}

/* Champs Mastery */

.summoner-mastery header{
    margin: 0px auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.summoner-mastery header h3{
    text-align: center;
}

.summoner-mastery #mains ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.summoner-mastery #mains ul li{
    text-align: center;
    margin-bottom: 20px;
}

.summoner-mastery #mains ul li .mastery{
    position: absolute;
    width: 30px;
}

.summoner-mastery #mains ul li .chest{
    position: absolute;
    width: 20px;
    padding-top: 60px;
    left: 80px;
}

.truechest{
    color: goldenrod;
}

.summoner-mastery #mains ul li h3{
    position: absolute;
    color: white;
    background-color: rgb(110, 0, 0);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 100%;
    margin-left: 4px;
}

.summoner-mastery #mains ul li .champ{
    width: 80px;
    box-shadow: 1px 1px  5px gray;
}

.summoner-mastery #mains ul li p{
    font-size: 10px;
}



/* Champ list */
#champion-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 

    width: 90%;
    margin: 0px auto;
    text-align: center;
}


#champion-list .champion img{
    height: 80px;
    box-shadow: 1px 1px  5px gray;
}

#champion-list .champion .tags{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    height: 80px;
    width: 70px;
    margin-left: 7px;

}


#champion-list .champion .tags p{
    color: #ccc;
    background-color: rgba(1, 11, 17, 0.7);
    font-size: 12px;
    line-height: 15px;

    border-radius: 5px;
}

#champion-list .champion h4{
    max-width: 100px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
}

/* Champ info */
#champ-header{
    width: 90%;
    margin: 0px auto;
}

#champ-header #champ-roles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-bottom: 15px;
}

#champ-header #champ-roles .champ-rol{
    background-color: rgb(110, 0, 0);
    color: #ccc;
    margin-right: 10px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#champ-header #champ-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#champ-header #champ-card #icon img{
    box-shadow: 1px 1px  5px gray;
}

#champ-header #champ-card #champ-info{
    margin-left: 15px;
    width: 63%;
}

#champ-header #champ-card #champ-info h1{
    color: rgb(110, 0, 0);
}

#champ-header #champ-card #champ-info .easy{
    color: green;
}

#champ-header #champ-card #champ-info .medium{
    color: yellow;
}

#champ-header #champ-card #champ-info .hard{
    color: red;
}

/* details nav */
#details-card{
    margin-top: 20px;
}

#details-nav{
    border-bottom: 1px solid rgb(110, 0, 0);
    padding-bottom: 6px;
}

#details-nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    margin: 0px auto;
    list-style: none;
}

#details-nav ul li button{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

#details-nav ul .active{
    color: rgb(110, 0, 0);
    font-weight: 600;   
}

.dont-show-info{
    display: none;
}

.show-info{
    display: block;
}

/* spells  */
#champ-spells{
    margin-top: 25px;
}

#champ-spells ul{
    margin-top: 20px;
}

#champ-spells ul{
    list-style: none;
}

#champ-spells .spell-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#champ-spells #champion-passive{
    border-bottom: 1px solid rgb(110, 0, 0);
    padding-bottom: 20px;
}

#champ-spells .spell-box .spell-logo{
    padding-top: 5px;
}

#champ-spells .spell-box .spell-logo img{
    box-shadow: 1px 1px  5px gray;
}

#champ-spells .spell-box .spell-info{
    margin-left: 20px;
}

#champ-spells .spell-box .spell-info p{
    margin-bottom: 5px;
}

#champ-spells .spell-box .spell-info h5{
    margin-bottom: 5px;
}

#champ-spells .spell-button{
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
    background-color: rgba(1, 11, 17, 0.8);
    color: #ccc;
    padding-left: 6px;
    padding-right: 6px;
}

/* Biography */

#champ-biography{
    padding-top: 20px;
}

#champ-lore{
    margin-bottom: 30px;
}

#champ-biography h5{
    margin-bottom: 10px;
}

#champ-biography ul{
    width: 90%;
    margin: 0px auto;
    margin-bottom: 30px;
}

/* skin list */
#skin-list{
    margin-top: 20px;
    overflow-y: auto;
    height: 60vh;
}

#skin-list .skin-content{
    background-color: rgb(110, 0, 0);
    margin-bottom: 20px;
    box-shadow: 1px 1px  5px gray;

}

#skin-list .skin-content img{
    width: 100%;
}

#skin-list .skin-content h3{
    margin: 0px auto;
    text-transform: uppercase;
    text-align: center;
    color: #ccc;
}

/* footer */
footer{
   bottom:0;
   width:100%;
   height:40px;  
   background: rgb(110, 0, 0);
   color: #ccc;
   margin: 0pc auto;
   text-align: center;
}

footer p{
    padding-top: 6px;
    font-size: 12px;
    text-transform: uppercase;
}