*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ccc;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    text-decoration: none;
    height: 60px;
    background-color: rgb(110, 0, 0);
    color: #ccc;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 40%;
    
}

nav #logo img{
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

#logo a{
    line-height: 60px;
    color: #ccc;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    width: 60%;
}

nav  ul li {
    padding-right: 25px;
}

nav  ul li a{
    font-size: 12px;
    line-height: 60px;
    text-transform: uppercase;
}


/* start component */

#container{
    padding-top: 20px;
}

#form-summoner{
    padding-top: 50px;
    text-align: center;
    margin: 0px auto;

}

#start-logo img{
    height: 200px;
}

#form-summoner #form{
    display: flex;
    flex-direction: row;

    background-color: rgb(110, 0, 0);;
    height: 30px;
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px  5px gray;
}

#form-summoner #form input[type="text"]{
    width: 70%;
    padding-left: 5px;
}

#form-summoner #form select{
    width: 15%;
}

#form-summoner #form input[type="submit"]{
    width: 15%;
    background-color: transparent;
    color: #ccc;
    border: none;
}

/* Summoner profile styles */

#summoner-profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 90%;
    margin: 0px auto;
    
}

#summoner-profile #icon{
    width: 100px;
    
}

#summoner-profile #icon img{
    height: 100px;
    border: 1px solid rgb(110, 0, 0);
    box-shadow: 1px 1px  5px gray;
}

#summoner-info{
    height: 100px;
    width: 65%;
    padding-left: 20px;
}

#summoner-league{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}

#summoner-league .league{
    width: 40%;
    height: 200px;
    text-align: center;
    margin: 0px auto;
    padding-top: 5px;
    border: 1px solid rgb(110, 0, 0);
    box-shadow: 1px 1px  5px gray;

}

#summoner-league .league img{
    height: 100px;
}

#summoner-league .league h3{
    font-size: 15px;
    text-transform: uppercase;
}