<div id="container">
    <div id="champ-header">
        <div id="champ-roles">
            <h3 class="champ-rol" *ngFor="let rol of champinfo.tags">{{rol}}</h3>
        </div>
        <div id="champ-card">
            <div id="icon">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{championname}}.png" alt="">
            </div>
            <div id="champ-info">
                <h1>{{championname}}</h1>
                <h3>Dificult: <span 
                    [ngClass]="{
                        easy: champinfo.info.difficulty > 1,
                        medium: champinfo.info.difficulty > 4,
                        hard: champinfo.info.difficulty > 6
                      }" 
                    >{{champinfo.info.difficulty}}/10</span></h3>
                <p>{{champinfo.title}}</p>
            </div>
        </div>

        <div id="details-card">
            <div id="details-nav">
                <ul>
                    <li><button  [ngClass]="{'active' : infowindow==1}" (click)="pagechange1()">Spells</button></li>
                    <li><button  [ngClass]="{'active' : infowindow==2}" (click)="pagechange2()">Skins</button></li>
                    <li><button  [ngClass]="{'active' : infowindow==3}" (click)="pagechange3()">Biography</button></li>
                </ul>
            </div>
            <spells class="dont-show-info" [ngClass]="{'show-info' : infowindow==1}" [championspells]="champinfo.spells" [championpasive]="champinfo.passive" [championname]="championname" [championcost]="champinfo.partype"></spells>
            <skins class="dont-show-info" [ngClass]="{'show-info' : infowindow==2}" [championname]="championname" [championskins]="champinfo.skins"></skins>
            <biography class="dont-show-info" [ngClass]="{'show-info' : infowindow==3}" [championname]="championname" [championinfo]="champinfo"></biography>
        </div>        
    </div>
</div>