<div id="container">
    <div id="champ-header">
        <div id="champ-roles">
            <h3 class="champ-rol" *ngFor="let rol of champinfo.tags">{{rol}}</h3>
        </div>
        <div id="champ-card">
            <div id="icon">
                <img src="http://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{championname}}.png" alt="">
            </div>
            <div id="champ-info">
                <h1>{{championname}}</h1>
                <h3>Dificult: <span 
                    [ngClass]="{
                        easy: champinfo.info.difficulty > 1,
                        medium: champinfo.info.difficulty > 4,
                        hard: champinfo.info.difficulty > 6
                      }" 
                    >{{champinfo.info.difficulty}}/10</span></h3>
                <p>{{champinfo.title}}</p>
            </div>
        </div>

        <div id="details-card">
            <div id="details-nav">
                <ul>
                    <li class="active">Spells</li>
                    <li>Skins</li>
                    <li>Biography</li>
                </ul>
            </div>
            <spells [championspells]="champinfo.spells"></spells>
        </div>        
    </div>
</div>